# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DevWork\comp3104_week5_lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/node_modules/